# __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment variable files
.env
*.env.local

# IDE configuration files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

*.json
notebooks
data
.chainlit/
.mypy_cache/
.ruff_cache/
.clinerules/
